* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d1532433-07b1-4e39-a920-0f08b81a489e/67033404-2df8-42e0-a5a0-4c8288b4da2c/IN-en-20231120-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 72vh;
  position: relative;
}

.main .box {
  opacity: 0.69;
  position: absolute;
  top: 0;
  height: 72vh;
  width: 100%;
  background-color: black;
}

nav {
  height: 62px;
  display: flex;
  max-width: 70vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-top: 3vh;
  z-index: 10;
  position: relative;
  width: 8vw;
}

nav button {
  z-index: 10;
  position: relative;
}

.hero {
  margin-top: 15vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  color: white;
  flex-direction: column;
  position: relative;
  gap: 23px;
}

.hero> :first-child {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  justify-content: center;
}

.hero> :nth-child(2) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
}

.hero> :nth-child(3) {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
}

.separator {
  height: 9px;
  background-color: rgba(128, 128, 128, 0.226);
}

.btn {
  padding: 3px 8px;
  font-weight: bolder;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid white;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.main input {
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 50vw;
  color: white;
  font-weight: 900;
}

.secImage {
  position: relative
}

.secImage img {
  width: 35vw;
  position: relative;
  z-index: 10;
}

.secImage video {
  width: 25vw;
  position: absolute;
  right: 99px;
  top: 103px;
}

section.first>div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first>div :nth-child(2) {
  font-size: 24px;
  font-weight: bolder;
}

.faq {
  background-color: black;
  color: white;
}

.faq h2 {
  text-align: center;
  padding: 34px;
  font-size: 42px;
}

.faqbox {
  height: 4vh;
  font-size:24px;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.301);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 50vw;
  margin: 2vh auto;
}
.faqbox :hover {
  background-color: rgba(128, 128, 128, 0.103);
}
footer{
  color: white;
}
footer span{
  margin: 19.5vw;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 60vw;
  margin: auto;
  padding: 34px;
}
.footer-items{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer a{
  color: white;
  font-size: 14px;
}